<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>First Glance</title>

    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css">
</head>
<body>

<!-- Navbar -->
<div class="navbar">
    First Glance
</div>

<!-- Map -->
<div id="map"></div>

<!-- Info box -->
<div class="info-box">
    <span id="distance">Distance: --</span>
    <span id="time">Time: --</span>
</div>

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script src="/static/js/script.js"></script>

</body>
</html>
